# Python
__pycache__/
*.py[cod]
*.so

# Docker
docker-image-*
docker-compose.override.yml

# VSCode
.vscode/

# Environment
.env
.coverage

volume/logs/system/*.log
volume/logs/tasks/*.log

#volume/models/embeddings
