# Python
__pycache__/
*.py[cod]
*.so

# Docker
docker-image-*
docker-compose.override.yml

# VSCode
.vscode/

# Environment
.env
.coverage

volume/logs/*.log
tests/fixtures/*_processed.*

#volume/models/embeddings
volume/processing/*.wav
